@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-appear-zoom: appear-zoom 0.5s ease-out forwards;
  --animate-appear: appear 0.5s ease-out forwards;
  --color-brand-foreground: var(----brand-foreground);
  --color-brand: var(----brand);
  /*
    ---break---
*/
  @keyframes appear-zoom {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  /*
    ---break---
*/
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes appear-zoom {
  0% {
    opacity: 0;
    transform: scale(0.95);
    }
  100% {
    opacity: 1;
    transform: scale(1);
    }
  }
  @keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
    }
  100% {
    opacity: 1;
    transform: translateY(0);
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(100.00% 0.000 89.88);
  --foreground: oklch(0.145 0 0);
  --card: oklch(100.00% 0.000 89.88);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(100.00% 0.000 89.88);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(58.64% 0.104 59.54);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(78.83% 0.021 69.93);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(61.55% 0.097 260.71);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(58.64% 0.104 59.54);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(58.64% 0.104 59.54);
  --brand: hsl(27 96% 61%);
  --brand-foreground: hsl(31 97% 72%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(68.63% 0.102 60.85);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(40.91% 0.024 69.50);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(49.58% 0.102 261.28);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(68.63% 0.102 60.85);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(68.63% 0.102 60.85);
  --brand: hsl(31 97% 72%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }  
  .expand-width {
      animation: expand-width 1.2s ease-in-out 4.5s forwards;
	}
	@keyframes expand-width {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}
	:is(.\*\*\:overflow-x-visible *) {
        overflow-x: visible !important;
    }
    /*#cta div:last-child div div:last-child {
        background-color: red !important;
    }*/
}

/*
    @media (prefers-color-scheme: light) {
        :root {
            --text-50: oklch(95.82% 0.004 17.23);
            --text-100: oklch(91.83% 0.008 17.30);
            --text-200: oklch(83.35% 0.018 17.52);
            --text-300: oklch(74.83% 0.027 17.77);
            --text-400: oklch(66.11% 0.037 18.12);
            --text-500: oklch(57.07% 0.050 18.73);
            --text-600: oklch(48.80% 0.040 18.62);
            --text-700: oklch(40.04% 0.032 18.59);
            --text-800: oklch(30.76% 0.024 18.53);
            --text-900: oklch(20.88% 0.011 18.10);
            --text-950: oklch(15.48% 0.007 17.93);

            --background-50: oklch(96.12% 0.000 89.88);
            --background-100: oklch(92.49% 0.000 89.88);
            --background-200: oklch(84.52% 0.000 89.88);
            --background-300: oklch(76.68% 0.000 89.88);
            --background-400: oklch(68.30% 0.000 89.88);
            --background-500: oklch(59.99% 0.000 89.88);
            --background-600: oklch(51.03% 0.000 89.88);
            --background-700: oklch(42.02% 0.000 89.88);
            --background-800: oklch(32.11% 0.000 89.88);
            --background-900: oklch(21.78% 0.000 89.88);
            --background-950: oklch(15.91% 0.000 89.88);

            --primary-50: oklch(96.49% 0.011 63.36);
            --primary-100: oklch(92.95% 0.023 65.45);
            --primary-200: oklch(85.63% 0.045 62.78);
            --primary-300: oklch(78.58% 0.070 62.91);
            --primary-400: oklch(71.52% 0.093 62.19);
            --primary-500: oklch(64.51% 0.116 59.45);
            --primary-600: oklch(54.96% 0.096 60.30);
            --primary-700: oklch(44.90% 0.077 60.18);
            --primary-800: oklch(34.12% 0.055 59.97);
            --primary-900: oklch(22.78% 0.032 63.00);
            --primary-950: oklch(16.16% 0.018 64.37);

            --secondary-50: oklch(96.21% 0.003 67.78);
            --secondary-100: oklch(92.67% 0.008 73.74);
            --secondary-200: oklch(84.94% 0.014 67.64);
            --secondary-300: oklch(77.31% 0.023 69.71);
            --secondary-400: oklch(69.45% 0.030 70.78);
            --secondary-500: oklch(61.25% 0.039 68.36);
            --secondary-600: oklch(52.32% 0.032 70.53);
            --secondary-700: oklch(42.83% 0.026 69.28);
            --secondary-800: oklch(32.70% 0.018 67.13);
            --secondary-900: oklch(22.06% 0.011 73.33);
            --secondary-950: oklch(16.07% 0.005 67.43);

            --accent-50: oklch(95.71% 0.010 261.79);
            --accent-100: oklch(91.36% 0.020 260.17);
            --accent-200: oklch(82.38% 0.041 262.27);
            --accent-300: oklch(73.43% 0.066 261.05);
            --accent-400: oklch(64.43% 0.089 260.59);
            --accent-500: oklch(55.18% 0.115 260.86);
            --accent-600: oklch(47.27% 0.096 260.34);
            --accent-700: oklch(38.78% 0.076 260.57);
            --accent-800: oklch(29.79% 0.053 261.54);
            --accent-900: oklch(20.36% 0.029 259.86);
            --accent-950: oklch(14.87% 0.017 259.92);
        }
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --text-50: oklch(15.48% 0.007 17.93);
            --text-100: oklch(20.88% 0.011 18.10);
            --text-200: oklch(30.76% 0.024 18.53);
            --text-300: oklch(40.04% 0.032 18.59);
            --text-400: oklch(48.80% 0.040 18.62);
            --text-500: oklch(57.07% 0.050 18.73);
            --text-600: oklch(66.11% 0.037 18.12);
            --text-700: oklch(74.83% 0.027 17.77);
            --text-800: oklch(83.35% 0.018 17.52);
            --text-900: oklch(91.83% 0.008 17.30);
            --text-950: oklch(95.82% 0.004 17.23);

            --background-50: oklch(15.91% 0.000 89.88);
            --background-100: oklch(21.78% 0.000 89.88);
            --background-200: oklch(32.11% 0.000 89.88);
            --background-300: oklch(42.02% 0.000 89.88);
            --background-400: oklch(51.03% 0.000 89.88);
            --background-500: oklch(59.99% 0.000 89.88);
            --background-600: oklch(68.30% 0.000 89.88);
            --background-700: oklch(76.68% 0.000 89.88);
            --background-800: oklch(84.52% 0.000 89.88);
            --background-900: oklch(92.49% 0.000 89.88);
            --background-950: oklch(96.12% 0.000 89.88);

            --primary-50: oklch(16.16% 0.018 64.37);
            --primary-100: oklch(22.78% 0.032 63.00);
            --primary-200: oklch(34.12% 0.055 59.97);
            --primary-300: oklch(44.90% 0.077 60.18);
            --primary-400: oklch(54.96% 0.096 60.30);
            --primary-500: oklch(64.51% 0.116 59.45);
            --primary-600: oklch(71.52% 0.093 62.19);
            --primary-700: oklch(78.58% 0.070 62.91);
            --primary-800: oklch(85.63% 0.045 62.78);
            --primary-900: oklch(92.95% 0.023 65.45);
            --primary-950: oklch(96.49% 0.011 63.36);

            --secondary-50: oklch(16.07% 0.005 67.43);
            --secondary-100: oklch(22.06% 0.011 73.33);
            --secondary-200: oklch(32.70% 0.018 67.13);
            --secondary-300: oklch(42.83% 0.026 69.28);
            --secondary-400: oklch(52.32% 0.032 70.53);
            --secondary-500: oklch(61.25% 0.039 68.36);
            --secondary-600: oklch(69.45% 0.030 70.78);
            --secondary-700: oklch(77.31% 0.023 69.71);
            --secondary-800: oklch(84.94% 0.014 67.64);
            --secondary-900: oklch(92.67% 0.008 73.74);
            --secondary-950: oklch(96.21% 0.003 67.78);

            --accent-50: oklch(14.87% 0.017 259.92);
            --accent-100: oklch(20.36% 0.029 259.86);
            --accent-200: oklch(29.79% 0.053 261.54);
            --accent-300: oklch(38.78% 0.076 260.57);
            --accent-400: oklch(47.27% 0.096 260.34);
            --accent-500: oklch(55.18% 0.115 260.86);
            --accent-600: oklch(64.43% 0.089 260.59);
            --accent-700: oklch(73.43% 0.066 261.05);
            --accent-800: oklch(82.38% 0.041 262.27);
            --accent-900: oklch(91.36% 0.020 260.17);
            --accent-950: oklch(95.71% 0.010 261.79);
        }
    }
*/